body{
 
    text-align: center;
    font: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body.home{
    background-image: url("fotobackground1.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body.acerca-de{
    background: linear-gradient(skyblue,lightgreen);
}

body.como-ayudar{
    background: linear-gradient(skyblue,lightgreen);
}

header{
    padding-top: 10px;
    padding-bottom: 5px;
    background: linear-gradient(skyblue, lightgreen);
    color: black;
}

footer{
    position: sticky;
    top: 100%;
    background: linear-gradient(skyblue, lightgreen);
    color: black;
}
.navegador{
    background: Arial; 
    font-family: sans-serif;
    padding-right: 15px;
    padding-left: 15px;
}

ul{
    list-style: none;
}

nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color:blue;
}

.foto{
   width: 600px;
    height: auto;
}



