body {
    margin: 0;
    display: grid;
    grid-template-areas:
    "header "
    "main "
    "footer ";
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
    background-color: ghostwhite;
}

#state-design {
    display: grid;
    grid-template-areas:
        "h1 h1 h1"
        "article article article";
    grid-template-columns: 1fr 1fr 1fr;
        

}